<div class="row">
    <div class="col-sm-8" style="border-style:solid;margin-left: 7%;border-width: 1px;">
        <div class="row" style="margin-top: 20px">
            <div class="col-sm-12">
                <div class="col-sm-6 text-right" readonly>
                    Date / Time :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    Employee Initials :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6 text-right">
                    Cash : Registers :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    + Cash : M.O. Drawer :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    + Cash : Top of Safe :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    + Change Fund /Other :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    = Ending Cash :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6 text-right">
                    + Drops :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    + Checks :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    - Change Orders :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    - Beginning Cash :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    = Today's Cash :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6 text-right">
                    - Cash Sales :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: -16px">
                <div class="col-sm-6 text-right">
                    = Over / Short :
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2 col-sm-offset-6">
                <button class="btn btn--dark btn-block js-gasDipReportSubmit" data-accType="Save" data-loading-text="Loading..." >Save</button>
            </div>
            <div class="form-group col-sm-2">
                <button class="btn btn--action btn-block js-gasDipReportSubmit" data-accType="Complete" data-loading-text="Loading...">Complete</button>
            </div>
        </div>
    </div>
</div>
