<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">

        <div class="form-group">
            <label class="control-label" for="time">Scan item or entry Moneyorder number</label>
            <input type="text" class="form-control style-4 js-moneyOrderNum" name="time" style="padding: 10px;border: none;border-bottom: solid 2px #c9c9c9;transition: border 0.3s;background-color: white;font-size: 18px;">
        </div>

        <div class="form-group">
            <button class="btn btn--action btn-block js-moneyOrderSubmit" style="background-color:#00985C" data-loading-text="Loading...">Continue</button>
        </div>
    </form>
    <div>
</div>
