<div class="row">
  <div class="col-sm-5 col-sm-offset-4" style="margin-top: 30px;margin-bottom:30px">
     <p style="font-weight: bold;font-size: 20px">***  WARNING *** DO NOT CASH ***</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-3">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">
       <p>Only the office can Authorize cashing of this money order</p></br />
       <p>Please ask customer to contact the office Monday- Friday from 8am to 5pm</p></br />
       <p>Office phone: 405-682-5711</p></br />
       <p>Moneyorder Already cashed.</p></br />
       <div class="row">
         <div class="col-sm-2 col-sm-offset-5">
             <button class="btn btn-block js-moneyOrderExit">EXIT</button>
         </div>
       </div>
    </form>
  </div>
</div>
