<div class="row">
  <div class="col-sm-4 col-sm-offset-5" style="margin-top: 30px;margin-bottom:30px">
     <p style="font-weight: bold;font-size: 20px">***  SUCCESS ***</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-7 col-sm-offset-3">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">
       <p>YOUR MONEY ORDER IS CASHED</p></br />
       <div class="row">
         <div class="col-sm-2 col-sm-offset-5">
             <button class="btn btn-block js-moneyOrderSuccess">OK</button>
         </div>
       </div>
    </form>
  </div>
</div>
