<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">
       <p>Before cashing the check on holds or stops</p></br />
       <p>Call 1-877-278-8807</p>
       <p>CASH THIS MONEY ORDER</p></br />
       <div class="row">
         <div class="col-sm-2 col-sm-offset-4">
             <button class="btn btn--action btn-block js-moneyOrderCashed" data-SerialNo="">YES</button>
         </div>
         <div class="col-sm-2">
             <button class="btn btn-danger btn-block js-moneyOrderQuit">NO</button>
         </div>
       </div>
    </form>
  </div>
</div>
