<div class="row">
  <div class="col-sm-3 col-sm-offset-5" style="margin-top: 30px;margin-bottom:30px">
     <p style="font-weight: bold;font-size: 20px">NOTICE</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">
       <p>An &nbsp&nbsp<span id="js-reportName"></span>&nbsp&nbsp Check Report was successfully</p></br />
       <p>done at&nbsp&nbsp<span class="js-respTime" style="font-weight: bold;"></span>&nbsp&nbsp&nbspon&nbsp&nbsp&nbsp<span class="js-respDate" style="font-weight: bold;"></span></p>
    </form>
    <div>
</div>
